.intro-bg[b-htfjgjh3vn] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    object-fit: cover;
    z-index: -2;
}

.overlay[b-htfjgjh3vn] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    z-index: -1;
}

.intro-message[b-htfjgjh3vn] {
    height: 70vh;
}

.review-section[b-htfjgjh3vn] {
    background-color: #0e1930;
    height: 100vh;
}

@media (max-width: 600px) {
    .slide-show-btn[b-htfjgjh3vn] {
        display: none;
    }

    .review-section[b-htfjgjh3vn] {
        height: auto;
    }
}