.circular-image[b-u7z5ln327i] {
    width: 100px; /* Set width */
    height: 100px; /* Set height */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Crop the image */
}

.review-comment[b-u7z5ln327i] {
    font-size: 17px;
}

@media (max-width: 576px) {

    .review-name[b-u7z5ln327i] {
        font-size: 1.2rem;
    }

    .review-description[b-u7z5ln327i] {
        font-size: 1rem;
    }

    .review-comment[b-u7z5ln327i] {
        font-size: 13px;
    }
}