@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="mt-5 row w-100">

    <div class="col-sm">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class=" w-75 text-justify">
                <IntroContent />
                <MyButton class="btn btn-dark mt-2">Get Started</MyButton>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="container">
            <img src="images/IMG1.jpg" class="d-block w-75" />
            <!--<div class="row">
                <img src="images/IMG2.jpg" class="col object-fit-cover" style="z-index: 1; top: 0px; left: 100px" />
                <img src="images/IMG1.jpg" class="col object-fit-cover" style="z-index: 2; top: 50px; left: -80px" />
            </div>-->
        </div>
    </div>

</div>

<div>
</div>

@code {
    private List<string> imageNames = new List<string>
        {
        "IMG1.jpg",
        "IMG2.jpg",
        "IMG3.jpg",
        };
        }
