@page "/services"
@rendermode InteractiveServer

<PageTitle>Services</PageTitle>

<div class="container mb-5">
    <div class="d-flex flex-column">

        <h1 class="mt-5 fw-bold">Services Offered</h1>

        <div class="row mt-5">
            <div class="col-sm">
                <div class="hover-effect border rounded-3 border-3 border-dark">
                    <div class="bg-dark" style="width: 100%; height: 10px;"></div>
                    <div class="p-3">
                        <h3 class="offer-title">Basic Service</h3>

                        <p class="mt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                        <ul>
                            <li class="check">Standard DSLR Camera</li>
                            <li class="check">Photographer</li>
                            <li class="check">Picture Frame</li>
                            <li class="check">Family Picture</li>
                            <li class="cross">Solo Shots</li>
                            <li class="cross">Couple Shots</li>
                            <li class="cross">Creative Shots</li>
                            <li class="cross">Drone</li>
                            <li class="cross">Lighting</li>
                            <li class="cross">Photobooth</li>
                        </ul>

                        <hr class="solid" />
                        <h4 class="d-inline fw-bold">$ 299.99</h4>
                        <p class="d-inline fw-bold">USD</p>
                        <hr class="solid" />
                        <MyButton class="w-100 btn btn-dark">Avail Basic Services</MyButton>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="hover-effect border rounded-3 border-3 border-dark">
                    <div class="bg-primary" style="width: 100%; height: 10px;"></div>
                    <div class="p-3">
                        <h3 class="offer-title">Standard Service</h3>

                        <p class="mt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                        <ul>
                            <li class="check">Standard DSLR Camera</li>
                            <li class="check">Photographer</li>
                            <li class="check">Picture Frame</li>
                            <li class="check">Family Picture</li>
                            <li class="check">Solo Shots Maximum of 5</li>
                            <li class="check">Couple Shots Maximum of 5</li>
                            <li class="check">Creative Shots Maximum of 5</li>
                            <li class="check">Drone (10 Minutes of drone video)</li>
                            <li class="cross">Lighting</li>
                            <li class="cross">Photobooth</li>
                        </ul>

                        <hr class="solid" />
                        <h4 class="d-inline fw-bold">$ 499.99</h4>
                        <p class="d-inline fw-bold">USD</p>
                        <hr class="solid" />
                        <MyButton class="w-100 btn btn-primary">Avail Standard Services</MyButton>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="hover-effect border rounded-3 border-3 border-dark">
                    <div class="bg-warning" style="width: 100%; height: 10px;"></div>
                    <div class="p-3">
                        <h3 class="offer-title">Premium Service</h3>

                        <p class="mt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                        <ul>
                            <li class="check">Standard DSLR Camera</li>
                            <li class="check">Photographer</li>
                            <li class="check">Picture Frame</li>
                            <li class="check">Family Picture</li>
                            <li class="check">Solo Shots (Unlimited)</li>
                            <li class="check">Couple Shots (Unlimited)</li>
                            <li class="check">Creative Shots (Unlimited)</li>
                            <li class="check">Drone (60 Minutes of drone video)</li>
                            <li class="check">Lighting</li>
                            <li class="check">Photobooth</li>
                        </ul>

                        <hr class="solid" />
                        <h4 class="d-inline fw-bold">$ 499.99</h4>
                        <p class="d-inline fw-bold">USD</p>
                        <hr class="solid" />
                        <MyButton class="w-100 btn btn-warning">Avail Premium Services</MyButton>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@code {

}
