.circular-image {
    width: 100px; /* Set width */
    height: 100px; /* Set height */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Crop the image */
}

.review-comment {
    font-size: 17px;
}

@media (max-width: 576px) {

    .review-name {
        font-size: 1.2rem;
    }

    .review-description {
        font-size: 1rem;
    }

    .review-comment {
        font-size: 13px;
    }
}