<div class="d-inline-flex">
    @for (int i = 1; i <= 5; i++)
    {
        if (i <= @ClientRating)
        {
            <i class="fa-solid fa-star fa-color"></i>
        } else
        {
            <i class="fa-regular fa-star fa-color"></i>
        }
    }
</div>

@code {
    [Parameter]
    public int ClientRating { get; set; }
}
